Repository farkhad-rh/tatinvesting: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache, stylelint --fix --cache

Update TiNG.png
  public/TiNG.png
Due: none

Update README.md
  README.md
  public/TiNG.png
  public/TiNG.svg
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

TAT-1 Update: alias path & rename folders
  src/assets/images/bg.jpg
  src/assets/images/logo-color.svg
  src/assets/images/logo-white.svg
  src/assets/styles/tailwind.css
  src/components/forms/FormAuth/FormAuth.module.scss
  src/components/forms/FormAuth/index.tsx
  src/components/forms/index.ts
  src/components/layout/Area/index.tsx
  src/components/layout/Header/index.tsx
  src/components/layout/Routing/PrivateRoute.tsx
  src/components/layout/Routing/index.tsx
  src/constants/index.ts
  src/constants/routes.constants.ts
  src/main.tsx
  src/routes/index.tsx
  src/store/auth/index.ts
  src/views/Auth/index.tsx
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

TAT-1 Update: folder structure
  src/components/layout/index.ts
  src/components/routing/PrivateRoute.tsx
  src/components/routing/Routing.tsx
  src/components/routing/ScrollToTop.tsx
  src/components/routing/index.tsx
  src/constants/index.ts
  src/constants/routes.constants.ts
  src/main.tsx
  src/routes/index.tsx
  src/routes/routes.enum.ts
  src/services/LocalStorageBase64/LocalStorageBase64.interface.ts
  src/services/LocalStorageBase64/index.ts
  src/services/index.ts
  src/store/auth/index.ts
  src/utils/scrollToTop.js
  src/views/Config/index.tsx
  vite.config.ts
Due: prettier --write, eslint --fix --cache

TAT-2 Add: constants files
  src/constants/currencies.constants.ts
  src/constants/powers.constants.ts
  src/constants/units.constants.ts
  src/views/Config/index.tsx
Due: prettier --write, eslint --fix --cache

TAT-3 Update: folder structure
  src/components/forms/DatePicker/DatePicker.module.scss
  src/components/forms/DatePicker/index.tsx
  src/components/forms/FormAuth/index.tsx
  src/components/layout/Header/index.tsx
  src/components/routing/PrivateRoute.tsx
  src/services/LocalStorageBase64/LocalStorageBase64.interface.ts
  src/services/LocalStorageBase64/index.ts
  src/services/auth/auth.guard.ts
  src/services/auth/auth.interface.ts
  src/services/auth/auth.service.ts
  src/services/auth/index.ts
  src/services/storage/index.ts
  src/services/storage/storage.interface.ts
  src/services/storage/storage.service.ts
  src/services/user/index.ts
  src/services/user/user.interface.ts
  src/services/user/user.service.ts
  src/store/auth/index.ts
  src/store/index.ts
  src/store/user/index.ts
  src/store/user/types.ts
  src/views/Config/index.tsx
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

TAT-3 Update: Config view
  src/assets/styles/main.css
  src/assets/styles/tailwind.css
  src/constants/units.constants.ts
  src/main.tsx
  src/services/storage/storage.service.ts
  src/store/auth/index.ts
  src/store/user/index.ts
  src/views/Config/index.tsx
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

TAT-4 Update: auth & storage services
  package.json
  pnpm-lock.yaml
  src/components/forms/DatePicker/DatePicker.module.scss
  src/components/forms/DatePicker/index.tsx
  src/components/forms/FormAuth/index.tsx
  src/components/layout/Header/index.tsx
  src/components/routing/PrivateRoute.tsx
  src/constants/base.constants.ts
  src/constants/index.ts
  src/services/auth/auth.controller.ts
  src/services/auth/auth.guard.ts
  src/services/auth/index.ts
  src/services/storage/storage.service.ts
  src/store/auth/index.ts
  src/store/user/index.ts
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

TAT-5 Add: module one result
  src/components/contents/ResultBlock/ResultBlock.module.scss
  src/components/contents/ResultBlock/index.tsx
  src/components/contents/ResultInfo/ResultInfo.module.scss
  src/components/contents/ResultInfo/index.tsx
  src/components/contents/index.ts
  src/components/forms/FormEffect/FormEffect.module.scss
  src/components/forms/FormEffect/index.tsx
  src/components/forms/FormFinance/index.tsx
  src/components/forms/FormParams/index.tsx
  src/components/forms/FormPeriod/index.tsx
  src/constants/currencies.constants.ts
  src/constants/powers.constants.ts
  src/constants/units.constants.ts
  src/enums/currencies.enum.ts
  src/enums/index.ts
  src/enums/powers.enum.ts
  src/enums/units.enum.ts
  src/services/effect/effect.controller.ts
  src/services/effect/effect.interface.ts
  src/services/finance/finance.controller.ts
  src/services/finance/finance.interface.ts
  src/services/period/period.controller.ts
  src/views/Config/index.tsx
  src/views/Result/Result.module.scss
  src/views/Result/index.tsx
  vite.config.ts
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

TAT-6 Add: sync function & previrew result
  src/components/contents/Loading/Loading.module.scss
  src/components/contents/Loading/index.tsx
  src/components/contents/index.ts
  src/components/forms/FormAuth/FormAuth.module.scss
  src/components/routing/Routing.tsx
  src/routes/index.tsx
  src/views/Auth/Auth.module.scss
  src/views/Result/index.tsx
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

TAT-6 Fix: sync function
  .vscode/settings.json
  package.json
  src/components/contents/ResultInfo/ResultInfo.module.scss
  src/components/forms/FormAuth/FormAuth.module.scss
  src/components/forms/FormEffect/FormEffect.module.scss
  src/components/forms/FormEffect/index.tsx
  src/components/forms/FormFinance/FormFinance.module.scss
  src/components/forms/FormFinance/index.tsx
  src/components/forms/FormParams/index.tsx
  src/components/forms/FormPeriod/FormPeriod.module.scss
  src/components/forms/FormPeriod/index.tsx
  src/routes/index.tsx
  src/services/effect/effect.controller.ts
  src/services/finance/finance.controller.ts
  src/services/params/params.controller.ts
  src/services/period/period.controller.ts
  src/services/period/period.interface.ts
  src/services/period/period.service.ts
  src/store/params/index.ts
  src/store/period/index.ts
  src/utils/dateFormat.ts
  src/utils/index.ts
  src/utils/numberFormat.ts
  src/views/Auth/Auth.module.scss
  src/views/Auth/index.tsx
  src/views/Result/index.tsx
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

TAT-7 Add: async function
  src/constants/currencies.constants.ts
  src/constants/powers.constants.ts
  src/constants/units.constants.ts
  src/enums/powers.enum.ts
  src/enums/units.enum.ts
  src/services/calculate/calculate.controller.ts
  src/services/calculate/calculate.interface.ts
  src/services/calculate/calculate.service.ts
  src/services/calculate/index.ts
  src/services/effect/effect.controller.ts
  src/services/effect/effect.interface.ts
  src/services/effect/effect.service.ts
  src/services/finance/finance.controller.ts
  src/services/finance/finance.interface.ts
  src/services/index.ts
  src/services/period/period.controller.ts
  src/services/period/period.interface.ts
  src/store/calculate/index.ts
  src/store/finance/index.ts
  src/store/index.ts
  src/utils/dateFormat.ts
  src/views/Result/index.tsx
Due: prettier --write, eslint --fix --cache

TAT-9 Add: third module async func
  src/services/calculate/calculate.controller.ts
  src/services/calculate/calculate.interface.ts
  src/services/calculate/calculate.service.ts
  src/store/calculate/index.ts
Due: prettier --write, eslint --fix --cache

TAT-10 Add: third module preview result
  src/views/Result/index.tsx
Due: prettier --write, eslint --fix --cache

Update Section.module.scss
  src/components/results/Section/Section.module.scss
Due: prettier --write, stylelint --fix --cache

TAT-12 Fix: function FCFF
  src/components/forms/FormFinance/index.tsx
  src/components/results/Section/Section.module.scss
  src/services/calculate/calculate.controller.ts
  src/services/finance/finance.controller.ts
  src/services/finance/finance.interface.ts
  src/services/finance/finance.service.ts
  src/store/finance/index.ts
  src/utils/numberFormat.ts
  src/views/Result/index.tsx
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

TAT-13 Update: pnpm build
  package.json
  pnpm-lock.yaml
  src/assets/images/bg.jpg
  src/components/results/Section/index.tsx
  src/configs/index.ts
  src/utils/dateFormat.ts
  src/views/Auth/Auth.module.scss
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

TAT-13 Update: storage service
  src/services/storage/storage.service.ts
Due: prettier --write, eslint --fix --cache

TAT-14 Fix: calculate service bugs
  src/services/calculate/calculate.controller.ts
  src/services/calculate/calculate.interface.ts
  src/services/calculate/calculate.service.ts
  src/services/finance/finance.controller.ts
  src/store/calculate/index.ts
  src/views/Result/index.tsx
Due: prettier --write, eslint --fix --cache

Update package.json
  package.json
Due: prettier --write

TAT-15 Update: calculate service
  src/components/layout/Area/index.tsx
  src/services/calculate/calculate.controller.ts
Due: prettier --write, eslint --fix --cache

TAT-15 Update: auth service
  src/services/auth/auth.controller.ts
Due: prettier --write, eslint --fix --cache

TAT-16 Add: chart config & page
  package.json
  pnpm-lock.yaml
  src/components/charts/Block/Block.module.scss
  src/components/charts/Block/index.tsx
  src/components/charts/index.ts
  src/components/forms/FormEffect/FormEffect.module.scss
  src/components/forms/FormEffect/index.tsx
  src/components/forms/FormFinance/FormFinance.module.scss
  src/components/forms/FormFinance/index.tsx
  src/components/forms/FormParams/FormParams.module.scss
  src/components/forms/FormPeriod/FormPeriod.module.scss
  src/components/forms/FormPeriod/index.tsx
  src/components/layout/Area/index.tsx
  src/components/layout/Background/Background.module.scss
  src/components/layout/Background/index.tsx
  src/components/layout/Loading/Loading.module.scss
  src/components/layout/Responsive/Responsive.module.scss
  src/components/layout/Responsive/index.tsx
  src/components/layout/index.ts
  src/components/results/Effect/EffectItem/index.tsx
  src/components/results/Effect/index.tsx
  src/configs/charts.configs.ts
  src/hooks/useResize.ts
  src/routes/index.tsx
  src/routes/routes.enum.ts
  src/utils/numberFormat.ts
  src/views/Chart/Chart.module.scss
  src/views/Chart/index.tsx
  src/views/Dev/Dev.module.scss
  src/views/Dev/index.tsx
  src/views/Result/index.tsx
  src/views/index.ts
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

TAT-17 Add: sensitivity analysis chart
  src/components/charts/Block/index.tsx
  src/components/charts/Chart/Chart.module.scss
  src/components/charts/Chart/index.tsx
  src/components/charts/Heatmap/Heatmap.module.scss
  src/components/charts/Heatmap/HeatmapCell/HeatmapCell.module.scss
  src/components/charts/Heatmap/HeatmapCell/index.tsx
  src/components/charts/Heatmap/HeatmapCol/HeatmapCol.module.scss
  src/components/charts/Heatmap/HeatmapCol/index.tsx
  src/components/charts/Heatmap/index.tsx
  src/components/charts/index.ts
  src/components/forms/FormEffect/index.tsx
  src/configs/charts.configs.ts
  src/constants/base.constants.ts
  src/routes/index.tsx
  src/routes/routes.enum.ts
  src/services/calculate/calculate.controller.ts
  src/services/calculate/calculate.interface.ts
  src/services/calculate/calculate.service.ts
  src/services/effect/effect.controller.ts
  src/services/effect/effect.interface.ts
  src/services/finance/finance.controller.ts
  src/services/finance/finance.interface.ts
  src/store/params/index.ts
  src/utils/numberFormat.ts
  src/views/Chart/index.tsx
  src/views/Charts/Charts.module.scss
  src/views/Charts/index.tsx
  src/views/Configs/Configs.module.scss
  src/views/Configs/index.tsx
  src/views/Dev/index.tsx
  src/views/Results/Results.module.scss
  src/views/Results/index.tsx
  src/views/index.ts
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

TAT-17 Fix: build tsc errors
  src/store/calculate/index.ts
  src/views/Dev/index.tsx
Due: prettier --write, eslint --fix --cache

TAT-18 Add: stack chart
  src/components/charts/Block/Block.module.scss
  src/components/charts/Block/index.tsx
  src/components/charts/Chart/Chart.module.scss
  src/components/charts/Heatmap/Heatmap.module.scss
  src/components/charts/Heatmap/HeatmapCell/index.tsx
  src/components/charts/Stack/index.tsx
  src/components/charts/index.ts
  src/components/forms/FormFinance/FormFinance.module.scss
  src/components/forms/FormPeriod/index.tsx
  src/components/routing/ScrollToTop.tsx
  src/configs/charts.configs.ts
  src/hooks/useResize.ts
  src/services/calculate/calculate.controller.ts
  src/services/calculate/calculate.interface.ts
  src/views/Charts/index.tsx
  tailwind.config.cjs
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

TAT-18 Add: react top loading bar
  package.json
  pnpm-lock.yaml
  src/components/layout/Area/index.tsx
  src/views/Charts/index.tsx
  src/views/Configs/index.tsx
  src/views/Dev/index.tsx
  src/views/Results/index.tsx
Due: prettier --write, eslint --fix --cache

TAT-19 Add: checklist page & components
  src/components/checklist/Block/Block.module.scss
  src/components/checklist/Block/index.tsx
  src/components/checklist/Project/Project.module.scss
  src/components/checklist/Project/index.tsx
  src/components/checklist/Question/Question.module.scss
  src/components/checklist/Question/index.tsx
  src/components/checklist/Section/Section.module.scss
  src/components/checklist/Section/index.tsx
  src/components/checklist/index.ts
  src/components/layout/Loading/Loading.module.scss
  src/components/results/index.ts
  src/components/routing/Routing.tsx
  src/components/routing/ScrollToTop.tsx
  src/constants/checklist.constants.ts
  src/constants/currencies.constants.ts
  src/constants/powers.constants.ts
  src/constants/units.constants.ts
  src/routes/index.tsx
  src/routes/routes.enum.ts
  src/services/calculate/calculate.interface.ts
  src/services/calculate/calculate.service.ts
  src/services/checklist/checklist.controller.ts
  src/services/checklist/checklist.interface.ts
  src/services/checklist/checklist.service.ts
  src/services/checklist/index.ts
  src/services/effect/effect.interface.ts
  src/services/effect/effect.service.ts
  src/services/finance/finance.interface.ts
  src/services/finance/finance.service.ts
  src/services/index.ts
  src/services/params/params.service.ts
  src/services/period/period.interface.ts
  src/services/period/period.service.ts
  src/store/checklist/index.ts
  src/store/index.ts
  src/views/Charts/index.tsx
  src/views/Checklist/Checklist.module.scss
  src/views/Checklist/index.tsx
  src/views/index.ts
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

TAT-20 Add: developed name & user account
  README.md
  package.json
  pnpm-lock.yaml
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/pwa-152x152.png
  public/pwa-192x192.png
  public/pwa-384x384.png
  public/pwa-512x512.png
  src/components/layout/Header/Header.module.scss
  src/components/layout/Header/index.tsx
  src/constants/base.constants.ts
  src/services/auth/auth.controller.ts
  src/services/auth/auth.guard.ts
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

Add: analytics
  package.json
  pnpm-lock.yaml
  src/components/routing/Routing.tsx
Due: prettier --write, eslint --fix --cache

Update Routing.tsx
  src/components/routing/Routing.tsx
Due: prettier --write, eslint --fix --cache

Fix: checklist components
  src/components/checklist/Question/index.tsx
  src/services/auth/auth.controller.ts
  src/views/Configs/Configs.module.scss
  src/views/Configs/index.tsx
Due: prettier --write, eslint --fix --cache, stylelint --fix --cache

Update: button navigate path & developed name
  src/components/layout/Header/index.tsx
  src/views/Charts/index.tsx
  src/views/Checklist/index.tsx
  src/views/Configs/index.tsx
  src/views/Dev/index.tsx
  src/views/Results/index.tsx
Due: prettier --write, eslint --fix --cache

Fix: charts & checklist component bugs
  src/components/charts/Heatmap/HeatmapCell/index.tsx
  src/components/charts/Heatmap/index.tsx
  src/components/checklist/Question/index.tsx
  src/views/Charts/index.tsx
Due: prettier --write, eslint --fix --cache

Update: remove user account
  src/constants/base.constants.ts
  src/services/auth/auth.controller.ts
  src/services/auth/auth.guard.ts
Due: prettier --write, eslint --fix --cache

Update: auth & checklist
  .vscode/settings.json
  src/components/forms/FormAuth/index.tsx
  src/components/routing/PrivateRoute.tsx
  src/components/routing/Routing.tsx
  src/constants/base.constants.ts
  src/routes/index.tsx
  src/services/auth/auth.controller.ts
  src/services/auth/auth.guard.ts
  src/views/Charts/index.tsx
  src/views/Configs/index.tsx
  src/views/Dev/index.tsx
Due: prettier --write, eslint --fix --cache

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,scss,md}
  eslint --fix --cache: any of: **/*.{js,jsx,ts,tsx}
  stylelint --fix --cache: any of: **/*.{css,scss}
